

#root {
  
background-color: rgb(0, 0, 0);
width:100vw;
height: 100vh;

  
}


/* removed #tablePromiseService - gave each page their own id */
/* #tableLanding, #tableService, #tablePromise, #tableLogout, #tablePrivacy, #tableSupport {
  
  color: rgb(43, 8, 8);
  position:fixed;
  height: 98%;
  top: 3%;
  padding-top: 3%;
  border: solid;
  width: 50%;
  height: 100%;
  position: fixed;
  right: 1%;
  background-color: black;
  overflow-y: scroll;
  scrollbar-color: black;


} */


#layout {
  display: flex;
  flex-direction: row;
  gap: 50px;
  background-color: rgb(0, 0, 0);
  width: 100vw;
  
}



#siteImage {

  border: solid;
  width: 40%;
  height: 100%;
  position: absolute;
  left: 0%;
  

} 


#navBar {
  
  flex-direction: column;
  border-bottom: 1px solid rgb(248, 37, 255);
  background-color: rgb(0, 0, 0);

  
}

#linkColor {
  color: #B9F2FF;
  

}

#linkColor:hover {
  color: #B9F2FF;
  text-shadow: 0 0 10px rgb(191, 117, 206),
               0 0 20px rgb(191, 117, 206),
               0 0 40px rgb(191, 117, 206),
               0 0 80px #fff,
               0 0 120px #fff,
               0 0 160px #fff;
}

#formBtn {
  background-color: rgb(244, 181, 235);
  color: rgb(0, 0, 0);
}

#formBtn:hover {
  color: green;
}

/* p {
  color: rgb(255, 255, 255);
} */

h5 {
  text-align: center;
  color: rgb(243, 72, 243);
  width: 100%;
}

.modalBody {
  display: flex;
  flex-direction: column;
  justify-content: center;
 
}

.radioBtns {
  display: flex;
  gap: 20px;
}


span {
  color: red;
}


#table {
  overflow: scroll;
  background-color: rgb(255, 255, 255);
  width: 60%;
  position: absolute;
  right: 0%;
  height: 94%;
  top: 6%;
  padding-top: 2%;
  color: orange;
  border: 3px solid black;


}


#tablePromiseService {
 
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  width: 60%;
  position: absolute;
  right: 0%;
  height: 94%;
  top: 6%;
  padding-top: 3%;
  overflow-y: scroll;
  scrollbar-color: black;

}

#tablePromiseService p:hover {
  color: #B9F2FF;
  text-shadow: 0 0 10px rgb(191, 117, 206),
               0 0 20px rgb(191, 117, 206),
               0 0 40px rgb(191, 117, 206),
               0 0 80px #fff,
               0 0 120px #fff,
               0 0 160px #fff;
}

th {
  color: rgb(0, 0, 0);
}





#payrollBtns {
  display: flex;
  gap: 20px;
}

#loginSignup {
  background-color: rgb(255, 248, 248);
  position: absolute;
  right: 5%;
  top: 5%;
  width:30%;
  font-size: larger;
  
}


tr:nth-child(even) {
  background-color: rgb(255, 99, 252);
  color: rgb(255, 255, 255);
}
.md-form label.active {
  color: red !important;
}
thead  {
  width: 30%;
}

.socialmedia, .testimonial, .promises, .services {
  padding: 1px 1px 1px;
  display: flex;
}